<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

</head>
<body>
<h1>Миссия Колонизация Марса</h1>
<h2>И на Марсе будут яблони цвести</h2>
{% if list == 'ol' %}
        <ol>
        {% for item in prof %}

            <li>{{item}}</li>

    {% endfor %}
        </ol>
 {% elif list == 'ul' %}
       {% for item in prof %}
        <ul>
            <li>{{item}}</li>
        </ul>
    {% endfor %}
{% else %}
    <div>Неверный формат</div>
 {% endif %}

</body>
</html>